@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

/* Common style */
*{
    font-family: 'Mulish', sans-serif;
}
.popular-tour-discription,
.popular-tour-list,
.popular-tour-discription-2,
.destination-discription,
.service-discription,
.newsletter-discription,
.footer-discription
{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    line-height: 26px;
}
.popular-tour-title,
.destination-header-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

/* Header Section style*/
.header{
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
    height: 500px;
    border-radius: 16px;
}
.header::before {
    content: "";
    position: absolute;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);  
}
.header-discription{
    text-align: center;
    opacity: 0.9;
}
.header-btn{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.header-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 6.25rem;
}
.intro{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.where-go,
.when,
.select-type,
.find-me
{
    display: flex;
}
.where-go-btn{
    width: 214px;
    height: 52px;
    border: none;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.when-btn,
.select-type-btn,
.find-me-btn
{
    width: 174px;
    height: 52px;
    border: none;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.where-go-btn{
    border-radius: 8px;
}
.when-btn,
.select-type-btn
{
    border-radius: 8px 0px 0px 8px;
}
.find-me-btn{
    color: #FFF;
    font-weight: 700;
    border-radius: 0 8px 8px 0;
    background-color: #FF5400;
}
.dropdown-img{
    width: 30px;
    height: 52px;
    padding-right: 10px;
    border-radius: 0 8px 8px 0;
    background: #FFF;
}
.search-img{
    width: 30px;
    height: 52px;
    padding-left: 10px;
    border-radius: 8px 0px 0px 8px;
    background: #FF5400;
}

/* Popular Tour section  */
.popular-tour-container{
    margin-top: 100px;
    width: 1170px;
    height: 550px;
    display: flex;
}
.popular-tour-details{
    /* border: 2px solid #FF5400; */
    width: 630px;
}
.popular-tour-btn{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.popular-tour-discription{
    padding-right: 53px;
}
.popular-tour-list{
    padding-right: 105px;
}
.popular-tour-discription-2{
    padding-right: 100px;
}
.popular-tour-btn{
    margin-right: 490px;
}
.popular-tour-img{
    width: 540px;
    border-radius: 16px;
    background: url('/Images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
}

/* Choose Your Destination Section */
.choose-your-destination-container{
    /* border: 2px solid #FF5400; */
    width: 1175px;
}
.destination-header-title,
.destination-discription{
    text-align: center;
    margin-top: 50px;
}
.destination-grid-container{
    margin-top: 45px;
    display: grid;
    grid-template-rows: repeat(3, auto);
  }
  /* .destination-grid-container > div {
    display: flex;
  } */
  .destination-grid-container > div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .destination-grid-container img {
    width: 100%;
    /* height: auto;
    display: block; */
  }
.image-text-1 {
    position: relative;
    bottom: 180px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.image-text-2 {
    position: relative;
    bottom: 180px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.image-text-3 {
    position: relative;
    bottom: 180px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.image-text-4 {
    position: relative;
    bottom: 180px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.image-text-5 {
    position: relative;
    bottom: 180px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.image-text-6 {
    position: relative;
    bottom: 180px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.image-text-7 {
    position: relative;
    bottom: 180px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
  /* First Row: 2 Images */
  .row1 {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  /* Second Row: 3 Images */
  .row2 {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  /* Third Row: 2 Images */
  .row3 {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .destination-imgages{
    /* fill: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray -101px -108.075px / 135.253% 172.05% no-repeat; */
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}
  
/* Why Choose Us Section */
.why-choose-us-container{
    width: 1170px;
    margin-top: 100px;
    /* border: 2px solid #FF5400; */
}
.why-choose-us-title, .why-choose-us-description{
    text-align: center;
}
.why-choose-us-features{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.hotel-service, .map-service, .price-tag-service{
    width: 573px;
    height: 284px;
}
.hotel-service{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.map-service{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.price-tag-service{
    margin-top: 24px;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Newsletter section */
.news-letter-container{
    margin-top: 100px;
    width: 1175px;
    /* border: 2px solid #FF5400; */
}
.newsletter-content{
    display: flex;
    gap: 24px;
    /* border: 1px solid #FF5400; */
}
.newsletter-title{
    margin-left: 40px;
}
.newsletter-discription{
    padding: 16px 43px 14px 40px;
}
.line {
    width: 393px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.152);
    /* background-color: #333; */
    margin: 10px 41px 24px 40px;
    position: relative;
}
.news-letter-form{
    border: 1px solid #FF5400;
    width: 474px;
    height: 450px;
    border-radius: 1rem;
}
.input-container{
    display: flex;
    flex-direction: column;
    margin: 16px 41px 16px 40px;
}
.input-class{
    /* margin: 16px 41px 16px 40px;   */
    margin: 16px 0;
    padding-left: 20px ;
    width: 393px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.newsletter-btn{
    width: 415px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
}
.newsletter-discount-btn{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border: none;
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    bottom: 170px;
    left: 840px;
}
.web-link{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.discount-percent{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* Footer section */
.footer-section{
    /* border: 2px solid #FF5400; */
    width: 1175px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-title-section{
    display: flex;
    justify-content: center;
    margin-top: 110px;
}
.travel-color{
    color: #FF5400;
}
.footer-title-section img, .footer-title-section h1{
    margin: 0 8px 0 8px;
}
.footer-discription{
    text-align: center;
    padding-top: 15px;
}
.social{
    /* border: 2px solid #FF5400; */
    margin-left: 42%;
    padding-top: 30px;
}
#footer-line{
    width: 700px;
    height: 1.5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.152);
    position: relative;
    left: 250px;
}  
.rights{
    text-align: center;
} 





/* Responsive for small devides */
@media screen and (max-width: 600px) {
    /* Header responsive */
    .header{
        width: 335px;
        height: 483px;
        border-radius: 16px;
        /* text-align: center;
        padding-left: 50px;
        position: absolute; */
    }
    .header::before {
        width: 335px;
        height: 483px;
        /* text-align: center;
        padding-left: 50px;
        position: relative; */
        flex-shrink: 0;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    }
    .header-btn{
        flex-direction: column;
    }
    .header-title{
        font-size: 1.5rem;
        font-weight: 800;
        padding-top: 1rem;
    }
    .intro{
        font-size: 0.75rem;
        font-weight: 100;
    }
    /* Popular-tour Responsive */
    .popular-tour-container{
        margin-top: 0px;
        flex-direction: column;
        width: 335px;
    }
    .popular-tour-details,
    .popular-tour-title
    {
        text-align: center;
        width: 335px;
    }
    .popular-tour-btn{
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .popular-tour-title,
    .popular-tour-discription,
    .popular-tour-list,
    .popular-tour-discription-2
    {
        /* text-align: center; */
        padding-left: 30px;
    }
    .popular-tour-img{
        width: 100%;
        margin-bottom: 20px;
    }
    /* Choose Your Destination Section Responsive */
    .choose-your-destination-container{
        width: 350px;
        margin-top: 900px;
    }
    .choose-your-destination-container h1,
    .choose-your-destination-container p{
        text-align: center;
        margin-top: 20px;
    }
    .destination-grid-container > div {
        flex-direction: column;
        align-items: center;
    }
    .row1, .row2, .row3 {
        grid-template-columns: 1fr;
    }
    .destination-imgages{
        width: 100%;
        height: 176px;
        border-radius: 16px;
    }
    .image-text-1, 
    .image-text-2,
    .image-text-3,
    .image-text-4,
    .image-text-5,
    .image-text-6,
    .image-text-7 
    {
        position: relative;
        bottom: 120px;
        color: #fff;
        text-align: center;
    }
    /* Why Choose Us responsive */
    .why-choose-us-container{
        margin-top: 5px;
        width: 335px;
    }
    .why-choose-us-features{
        grid-template-columns: 1fr;
    }
    .hotel-service,.map-service{
        height: 289px;
    }
    .hotel-service, .map-service, .price-tag-service{
        width: 335px;
        height: 284px;
    }
    .price-tag-service{
        margin: 0;
    }
    /* Newsletter responsive */
    .news-letter-container,.newsletter-content{
        flex-direction: column;
        width: 350px;
    }
    .newsletter-discription{
        margin-top: 10px;
        padding: 5px 43px 5px 40px;
    }
    .news-letter-form{
        width: 350px;
    }
    .line, .input-class, .newsletter-btn{
        width: 280px;
    }
    .newsletter-content img{
        width: 100%;
    }
    .newsletter-discount-btn{
        width: 170px;
        height: 95px;
        transform: rotate(-19.628deg);
        border: none;
        border-radius: 10px;
        background: #FF5400;
        position: relative;
        bottom: 120px;
        left: 170px;
    }
    .web-link{
        color: #FFF;
        text-align: center;
        font-size: 15px;
        font-weight: 100;
    }
    .discount-percent{
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
    }
    /* Footer Section */
    .footer-section{
        width: 350px;
        height: 502px;
    }
    .footer-title-section{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .social{
        margin-left: 25%;
        padding-top: 30px;
    }
}