@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

/* Common style */
*{
    font-family: 'Mulish', sans-serif;
}
.popular-tour-discription,
.popular-tour-list,
.popular-tour-discription-2,
.service-discription,
.newsletter-discription
{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    line-height: 26px;
}

/* Header Section style*/
.header{
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
    height: 500px;
    border-radius: 16px;
}
.header::before {
    content: "";
    position: absolute;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);  
}
.header-discription{
    text-align: center;
    opacity: 0.9;
}
.header-btn{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.header-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 6.25rem;
}
.intro{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.where-go,
.when,
.select-type,
.find-me
{
    display: flex;
}
.where-go-btn{
    width: 214px;
    height: 52px;
    border: none;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.when-btn,
.select-type-btn,
.find-me-btn
{
    width: 174px;
    height: 52px;
    border: none;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.where-go-btn{
    border-radius: 8px;
}
.when-btn,
.select-type-btn
{
    border-radius: 8px 0px 0px 8px;
}
.find-me-btn{
    color: #FFF;
    font-weight: 700;
    border-radius: 0 8px 8px 0;
    background-color: #FF5400;
}
.dropdown-img{
    width: 30px;
    height: 52px;
    padding-right: 10px;
    border-radius: 0 8px 8px 0;
    background: #FFF;
}
.search-img{
    width: 30px;
    height: 52px;
    padding-left: 10px;
    border-radius: 8px 0px 0px 8px;
    background: #FF5400;
}

/* Popular Tour section  */
.popular-tour-container{
    margin-top: 100px;
    width: 1170px;
    height: 550px;
    display: flex;
}
.popular-tour-details{
    /* border: 2px solid #FF5400; */
    width: 630px;
}
.popular-tour-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-tour-btn{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.popular-tour-discription{
    padding-right: 53px;
}
.popular-tour-list{
    padding-right: 105px;
}
.popular-tour-discription-2{
    padding-right: 100px;
}
.popular-tour-btn{
    margin-right: 490px;
}
.popular-tour-img{
    width: 540px;
    border-radius: 16px;
    background: url('/Images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
}

/* Why Choose Us Section */
.why-choose-us-container{
    width: 1170px;
    margin-top: 100px;
    /* border: 2px solid #FF5400; */
}
.why-choose-us-title, .why-choose-us-description{
    text-align: center;
}
.why-choose-us-features{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.hotel-service, .map-service, .price-tag-service{
    width: 573px;
    height: 284px;
}
.hotel-service{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.map-service{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.price-tag-service{
    margin-top: 24px;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Newsletter section */
.news-letter-container{
    margin-top: 100px;
    width: 1175px;
    border: 1px solid #FF5400;
}
.newsletter-content{
    display: flex;
    gap: 24px;
}
.newsletter-title{
    margin-left: 40px;
}
.newsletter-discription{
    padding: 16px 43px 14px 40px;
}
.line {
    width: 393px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.152);
    /* background-color: #333; */
    margin: 10px 41px 24px 40px;
    position: relative;
}
.news-letter-form{
    border: 1px solid #FF5400;
    width: 474px;
    height: 450px;
    border-radius: 1rem;
}
.input-container{
    display: flex;
    flex-direction: column;
    margin: 16px 41px 16px 40px;
}
.input-class{
    /* margin: 16px 41px 16px 40px;   */
    margin: 16px 0;
    padding-left: 20px ;
    width: 393px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.newsletter-btn{
    width: 393px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
}
.newsletter-discount-btn{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border: none;
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    bottom: 170px;
    left: 840px;
}
.web-link{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.discount-percent{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}




/* Responsive for small devides */
@media screen and (max-width: 600px) {
    /* Header responsive */
    .header{
        width: 335px;
        height: 483px;
        border-radius: 16px;
        /* text-align: center;
        padding-left: 50px;
        position: absolute; */
    }
    .header::before {
        width: 335px;
        height: 483px;
        /* text-align: center;
        padding-left: 50px;
        position: relative; */
        flex-shrink: 0;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    }
    .header-btn{
        flex-direction: column;
    }
    .header-title{
        font-size: 1.5rem;
        font-weight: 800;
        padding-top: 1rem;
    }
    .intro{
        font-size: 0.75rem;
        font-weight: 100;
    }
    /* Popular-tour Responsive */
    .popular-tour-container{
        margin-top: 0px;
        flex-direction: column;
        width: 335px;
    }
    .popular-tour-details,
    .popular-tour-title
    {
        text-align: center;
        width: 335px;
    }
    .popular-tour-btn{
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .popular-tour-title,
    .popular-tour-discription,
    .popular-tour-list,
    .popular-tour-discription-2
    {
        /* text-align: center; */
        padding-left: 30px;
    }
    .popular-tour-img{
        width: 100%;
        margin-bottom: 20px;
    }
    /* Why Choose Us responsive */
    .why-choose-us-container{
        margin-top: 900px;
        width: 335px;
    }
    .why-choose-us-features{
        grid-template-columns: 1fr;
    }
    .hotel-service,.map-service{
        height: 289px;
    }
    .hotel-service, .map-service, .price-tag-service{
        width: 335px;
        height: 284px;
    }
    .price-tag-service{
        margin: 0;
    }
}